<mat-sidenav-content>
  <p class="summary">ステータス</p>
  <div class="flex">
    <div class="circle">
      <img src="../../assets/img/ざっそう.png" alt="ざっそう" />
    </div>
    <div>
      <h2 class="name">薄井 彩花</h2>
    </div>
  </div>
  <div class="flex">
    <div>
      <h3 class="sub-detail">血液型<br />　O型</h3>
    </div>
    <div>
      <h3 class="sub-detail">年齢<br />　19歳</h3>
    </div>
    <div>
      <h3 class="sub-detail">
        性別<br />
        woman
      </h3>
    </div>
  </div>
  <div>
    <h3 class="sub-detail">住所　須賀川市〇〇〇〇１００－１</h3>
  </div>
  <div>
    <h3 class="sub-detail">TEL 080-1234-5678</h3>
  </div>
  <div class="flex">
    <div class="square"></div>
    <div class="sub-detail">
      現在の状況の一言コメント<br />・現在は無事です。
    </div>
  </div>
  <div>
    <button mat-button class="button">
      <a class="href" routerLink="/followers">フォロワーの状況を確認する</a>
    </button>
  </div>
</mat-sidenav-content>
