<p class="name">自分</p>
<mat-card>
  <mat-card-content class="flex">
    <p>薄井 彩花(自分)　</p>
    <p>郡山少年湖畔の村</p>
    <div class="circle"></div>
  </mat-card-content>
</mat-card>
<p class="name">フォロワー（３）</p>
<mat-card>
  <mat-card-content class="flex">
    <p>父親　</p>
    <p>特に心配なし</p>
    <div class="circle"></div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content class="flex">
    <p>母親　</p>
    <p>怪我はなく無事です</p>
    <div class="circle"></div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content class="flex">
    <p><a class="href" routerLink="/user">友達　</a></p>
    <p>がれきで身動きが取れない、</p>
    <div class="circleRed"></div>
  </mat-card-content>
</mat-card>

<!-- <button mat-button class="detail button-conta">詳細を見る</button> -->
<button mat-button class="button button-conta">
  <a>通知を送る</a>
</button>
