<p class="summary">須賀川市の避難所</p>
<form>
  <select name="select1">
    <option>地震</option>
    <option>洪水</option>
    <option>大雨・台風</option>
    <option>噴火</option>
  </select>
</form>
<p class="bun">3/3 件</p>

<div class="flex">
  <p class="facility-name">市立第一小学校体育館</p>
</div>

<div class="flexSecond">
  <p class="availability">定員・容量</p>
  <div class="availabilitycircle"></div>
  <p class="num">１５０人分</p>
</div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3174.2963474923904!2d140.36448907467727!3d37.2881097400466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6020405f91f6287d%3A0x31293cc3840bdf1d!2z6aCI6LOA5bed5biC56uL56ys5LiA5bCP5a2m5qCh!5e0!3m2!1sja!2sjp!4v1694306810256!5m2!1sja!2sjp"
  width="300"
  height="300"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>

<div class="flex">
  <p class="facility-name">市立阿武隈小学校体育館</p>
</div>

<div class="flexSecond">
  <p class="availability">定員・容量</p>
  <div class="availabilitycircle"></div>
  <p class="num">１００人分</p>
</div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.907787282165!2d140.38823607467788!3d37.297319239521656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x602041b31f5048ad%3A0x11bf0cf41da66cc1!2z6aCI6LOA5bed5biC56uL6Zi_5q2m6ZqI5bCP5a2m5qCh!5e0!3m2!1sja!2sjp!4v1694306842298!5m2!1sja!2sjp"
  width="300"
  height="300"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>

<div class="flex">
  <p class="facility-name">須賀川市役所</p>
</div>

<div class="flexSecond">
  <p class="availability">定員・容量</p>
  <div class="availabilitycircle"></div>
  <p class="num">３００人分</p>
</div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3174.3474687297708!2d140.36990727467727!3d37.28689794011567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6020400b5f700bdd%3A0xfb6c279bf02849e7!2z6aCI6LOA5bed5biC5b255omA!5e0!3m2!1sja!2sjp!4v1694306872405!5m2!1sja!2sjp"
  width="300"
  height="300"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>
