body,
html {
  background-color: #f7e8cf;
  margin: 0;
  padding: 0;
  height: 100%;
}

button {
  margin-left: 40px; /* ボタンとテキストの間隔を調整 */
  border: none;
  background-color: #fff;
  font-size: 25px;
}

a.btn--yellow {
  margin: 30px;
  left: 50%;
  color: #000;
  padding: 10px;
  background-color: #fff100;
  text-decoration: none;
  border-bottom: 5px solid #ccc100;
  border-radius: 25%;
  font-size: 25px;
  box-shadow: #212121;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

#card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#label {
  margin: 10px; /* Adjust margin as needed */
  font-size: 20px;
}

.img-container {
  margin: 20px auto; /* Center the container and add margin top and bottom */
  text-align: center; /* Center the images inside the container */
}

.imgpng {
  width: 1500px; /* Make images responsive */
  max-width: 900px; /* Set a maximum width for larger screens */
  height: auto; /* Maintain the aspect ratio of the images */
  margin-bottom: 20px; /* Add space between images */
}

.btn {
  margin: 20px;
}
