<mat-sidenav-content>
  <p class="summary">現在地から一番近い避難所</p>
  <form>
    <select name="select1">
      <option>地震</option>
      <option>洪水</option>
      <option>大雨・台風</option>
      <option>噴火</option>
    </select>
  </form>
  <div class="flex">
    <p class="facility-name">郡山市少年湖畔の村</p>
    <p class="distance">0Km</p>
  </div>

  <div class="flexSecond">
    <p class="availability">空き状況</p>
    <div class="availabilitycircle"></div>
    <p class="num">１５人分</p>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2868.7651112311737!2d140.1345107219914!3d37.42407038007786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6020043159adca9b%3A0xb5674e81c9f4e36e!2z6YOh5bGx5biCIOWwkeW5tOa5lueVlOOBruadkQ!5e0!3m2!1sja!2sjp!4v1694242735468!5m2!1sja!2sjp"
    width="300"
    height="300"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>

  <p class="summary">その他の候補</p>
  <div class="flex">
    <p class="facility-name">郡山市柴宮小学校</p>
    <p class="distance">30Km</p>
  </div>
  <div class="flexSecond">
    <p class="availability">空き状況</p>
    <div class="availabilitycircle"></div>
    <p class="num">１５０人分</p>
  </div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.6705258173583!2d140.34306427468218!3d37.373972135148584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x602014ab000de6f5%3A0xed8a0fd2812d9820!2z6YOh5bGx5biC56uL5p-05a6u5bCP5a2m5qCh!5e0!3m2!1sja!2sjp!4v1694307573112!5m2!1sja!2sjp"
    width="300"
    height="300"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>

  <div class="flex">
    <p class="facility-name">郡山市立第五中学校</p>
    <p class="distance">31.5 Km</p>
  </div>
  <div class="flexSecond">
    <p class="availability">空き状況</p>
    <div class="availabilitycircle"></div>
    <p class="num">１００人分</p>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.166472511865!2d140.36571557468426!3d37.4095399331169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60206cc27b1a1587%3A0xb83b63d4c345585f!2z6YOh5bGx5biC56uL6YOh5bGx56ys5LqU5Lit5a2m5qCh!5e0!3m2!1sja!2sjp!4v1694307834018!5m2!1sja!2sjp"
    width="300"
    height="300"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>

  <div class="flex">
    <p class="facility-namesecound">福島県立テクノアカデミー<br />郡山</p>
    <p class="distance">35.4<br />Km</p>
  </div>
  <div class="flexSecond">
    <p class="availability">空き状況</p>
    <div class="availabilitycircle"></div>
    <p class="num">２００人分</p>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.0912210387883!2d140.405041574683!3d37.38767493436608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60206b9399114843%3A0xa52ff5440be0268d!2z56aP5bO255yM56uL44OG44Kv44OO44Ki44Kr44OH44Of44O86YOh5bGx!5e0!3m2!1sja!2sjp!4v1694307912613!5m2!1sja!2sjp"
    width="300"
    height="300"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</mat-sidenav-content>
