/* background-color: #f7e8cf; */

.toolbar {
  background-color: #7d0842;
  font-size: 20px;
  color: white;
}
mat-sidenav-content {
  background-color: #f7e8cf;
  height: 100%;
}

mat-list {
  background-color: #7d0842;
  height: 100%;
}

mat-toolbar-row {
  padding: 0px;
}
.mat-sidenav-container {
  height: calc(205vh - 115vh);
}
mat-sidenav {
  width: 200px;
  background-color: azure;
}
mat-list a {
  text-decoration: none;
  color: white;
}
mat-list-item {
  margin: 10px 0px 10px;
}
