<mat-card>
  <mat-card-content>
    <div class="flex">
      <div class="circle"></div>
      <div>
        <h2>友達</h2>
      </div>
    </div>
    <p class="summary">避難状況</p>
    <p>・避難所に向かっているところ</p>
    <p class="summary">避難場所</p>
    <p>・まだ避難できないない。</p>
    <p class="summary">現在地</p>
    <p>福島県郡山市方八町２丁目４−１５</p>
  </mat-card-content>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.8093707326666!2d140.3885756746834!3d37.39434023398536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60206b80766c279f%3A0x625bb0ab4f915c13!2z5Zu96Zqb5oOF5aCx5bel56eR6Ieq5YuV6LuK5aSn5a2m5qCh!5e0!3m2!1sja!2sjp!4v1694291080771!5m2!1sja!2sjp"
    width="300"
    height="300"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <button mat-button class="button">
    <a class="href" routerLink="/followers">戻る</a>
  </button>
</mat-card>
